
/* Gerais */
body {
    font-family: 'Poppins',sans-serif;
  }
  
  .row {
    margin: 0;
  }
  
  .container {
    padding: 70px 0;
  }
  
  p, li {
    color: #444;
    font-size: 24px;
  }
  /*NavBar*/
  header, .navbar ,.dropdown-menu{
    background-color: #003140;
  }
 
  
  #nav-container {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  #logo {
    width: 75px;
    margin-left: 15px;
  }
  
  .navbar-brand {
    padding: 0;
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 25px;
  }
  
  .navbar-brand:hover {
    color: #ED5B2D;
  }
  
  .nav-item:hover{
    background-color: #ED5B2D;
    border-radius: 7px;
  }

  .dropdown-item:hover{
    background-color: #ED5B2D;
    border-radius: 5px;
  }

  #navbar-links a {
    color: #FFF;
    font-size: 24px;
}
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
  }
  
  .nav-item.active {
    border-bottom: 3px solid #FFF;
  }

  /*Banner*/

  .conteudo {
    width: 799px;
    height: 600px;
    background-image: linear-gradient( #fff 46%, #003140 46%);
    text-align: center;
  }
 
  #banner {
    justify-content: center;
    margin-top: 20px;
  }

  .conteudo h1 {
    font-size: 75px;
    font-family: 'Poppins',sans-serif;
    margin-top: 75px;
    font-weight: bold;
  }

  .conteudo p {
    font-size: 25px;
    margin-top: 15px;
    color: #ED5B2D;
    font-weight: bold;
  }

  .scroll-h {
    width: 300px;
    height: 250px;
    display: flex;
    align-items: center;
    margin-top: 75px;
    
  }

  .cover{
    position: relative;
    width: 90%;
    height: 50%;
  }

  .scroll-img{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
  }
  .chil{
    min-width: 155px;
    height: 155px;
    margin: 1px 10px;
    padding-top: 4px;
    cursor: pointer;
    /* border: 1px solid #FFF; */
    overflow: hidden;
    background-color: #FFF;
    border-radius: 10px;
  }
  .scroll-img::-webkit-scrollbar{
    -webkit-animation: none;
  }

  .chil-img {
    width: 150px;
    height: 150px;
    
  }

  .icon{
    color: #ED5B2D;
    background-color: #003140;
    font-size: 30px;
    outline: none;
    border: none;
    padding: 0px 20px;
    cursor: pointer;
  }